* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.header {
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgb(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(/image/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
nav img {
  width: 180px;
}
.nav-links {
  flex: 1;
  text-align: right;
}
.nav-links ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 24px 20px;
}
.nav-links ul li a {
  color: white;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 16px;
}
.nav-links ul li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: white;
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-links ul li:hover::after {
  width: 100%;
}
.text-box {
  width: 100%;
  color: white;
  font-family: sans-serif;
  position: absolute;
  text-align: center;
  padding: 10px;
  margin-top: 100px;
}
.text-box h1 {
  font-size: 50px;
  font-weight: bold;
}
.text-box p {
  margin: 10px 0 40px;
  font-size: 16px;
}
.hero-btn {
  display: inline;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  background: transparent;
  padding: 10px 10px 10px;
  position: relative;
}
.hero-btn:hover {
  border: 0px solid red;
  background: red;
  transition: 0.5s;
}
nav .fa{
  display: none;
  color: white;
}
}
@media (max-width: 700px) {
  .text-box h1 {
    font-size: 15px;
  }
  .nav-links ul li {
    display: block;
  }
  .nav-links {
    position: absolute;
    background: red;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa {
    display: block;
    color: black;
    font-size: 22px;
    margin: 10px;
    cursor: pointer;
  }
  .nav-links ul  {
    padding: 30px;
  }
}

/* ------course---- */

.course {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  font-family: sans-serif;
}
.course h1 {
  font-size: 30px;
}
.course p {
  font-size: 15px;
  padding-top: 15px;
  font-weight: 20px;
}
.row {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.course-col {
  flex-basis: 31%;
  border-radius: 10px;
  background-color: wheat;
  margin-top: 5%;
  padding: 15px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
.course-col h3 {
  text-align: center;
  font-weight: 15px;
  margin: 10px 0;
}
.course-col p {
  margin-top: 5px;
}
.course-col:hover {
  box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.541);
}
@media (max-width: 700px) {
  .row {
    flex-direction: column;
  }
}

/*--- campus------- */
.campus {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 70px;
  font-family: sans-serif;
}
.campus h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 15px;
  margin: 10px 0;
}
.campus p {
  margin-top: 5px;
}

.campus-col {
  flex-basis: 32px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 40px;
  position: relative;
}
.campus-col img {
  width: 340px;

  display: block;
}
.layer {
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}
.layer:hover {
  background-color: rgba(255, 0, 0, 0.692);
}
.layer h3 {
  text-align: center;
  font-weight: 15px;
  margin: 10px 0;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  color: white;
  opacity: 0;
  transition: 0.5s;
}
.layer:hover h3 {
  bottom: 49%;
  opacity: 1;
}

/* -----------facilities------------- */
.facilities {
  width: 80%;
  text-align: center;
  margin: auto;
  padding-top: 70px;
  font-family: sans-serif;
}
.facilities h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 15px;
  margin: 10px 0;
}
.facilities p {
  margin-top: 5px;
}
.facilities-col {
  flex: 31%;
  border-radius: 40px;
  margin-top: 4%;
  margin-bottom: 5%;
  margin-left: 1%;
  margin-right: 1%;
  text-align: left;
}
.facilities-col img {
  width: 100%;
  border-radius: 10px;
}
.facilities-col h3 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-weight: 20px;
  text-align: left;
}
.facilities-col p {
  padding: 0;
}

/* ---testimonials-------- */
.testimonials {
  text-align: center;
  width: 80%;
  margin: auto;
  padding-top: 50px;
  font-family: sans-serif;
}
.testimonials h1 {
  font-size: 30px;
}
.testimonials p {
  font-size: 15px;
  padding-top: 15px;
  font-weight: 20px;
}
.testimonial-col {
  flex: 44%;
  border-radius: 10px;
  margin-top: 2%;
  margin-bottom: 5%;
  margin-left: 5%;
  padding: 20px;
  text-align: left;
  background: rgba(255, 0, 106, 0.247);
  display: flex;
  cursor: pointer;
}
.testimonial-col img {
  height: 40px;
  border-radius: 50px;
  margin-left: 5px;
  margin-right: 25px;
}
.testimonial-col h2 {
  margin-top: 4%;
  text-align: left;
  font-size: 20px;
  font-weight: 10px;
}
.testimonial-col .fa {
  color: red;
}
@media (max-width: 700px) {
  .testimonial-col img {
    margin-left: 0;
    margin-right: 15px;
  }
}

/* ------call to action---------- */
.cta {
  margin: 100px auto;
  width: 80%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/image/banner2.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  border-radius: 10px;
  padding: 100px 0;
}
.cta h1 {
  color: white;
  margin-bottom: 40px;
  padding: 0;
}

/* ---------footer----- */
.footer {
  width: 100%;
  text-align: center;
  padding: 25px 0;
}
.footer h4 {
  margin-top: 24px;
  margin-bottom: 25px;
  font-weight: 600;
}
.icons .fab{
  color: red;
  padding: 20px;
}

.fa-heart {
  color: red;
}


/* -----About us page------------------------------------------------ */
.sub-header{
  height: 60vh;
  width: 100%;
  background: linear-gradient(rgba(4,9,3,0.7),rgba(4,9,3,0.7)),url(/image/background.jpg);
  background-position: center;
  background-size: cover;
}
.sub-header h1{
  text-align: center;
  color: white;
  margin-top: 5%;
}
.about-us{
  width: 80%;
  margin: auto;
  padding top:5% ;
  padding:5%;
}
.about-col{
flex: 44%;
padding:25px;
}
.about-col img{
  width: 100%;
}
.about-col h1{
  padding-top: 0;
}
.about-col p{
  padding: 15px 0 25px ;
}
.red-btn {
  border: 1px solid;
  background: transparent;
  color: red;
}
.red-btn:hover{
  color: white;
}

/* --------blog page content------- */
.blog-content{
width: 80%;
margin: auto;
padding: 60px 0;
}
.blog-left{
  flex: 65%;
}
.blog-left img{
  width:60%;
}
.blog-left h2{
  margin: 20px 0;
}
.blog-left p{
  padding: 0;
}
.blog-right{
  flex-basis: 32%;
}
.blog-right h3{
  background: rgba(255, 0, 0, 0.719);
  color:white;
  padding: 7px;
  font-size: 16px;
  text-align: center;
  font-weight: 5px;
}
.blog-right div{
  display: flex;
  justify-content: space-between;
  padding: 9px;
  box-sizing: border-box;
}
.comment-box{
  border: 2px solid gainsboro;
  padding: 10px 15px;
  margin: 50px 0;
}
.comment-box h3{
  text-align: left;
}
.comment-form input, .comment-form textarea{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background-color: #f0f0f0;
  margin: 10px;
  outline: none;
  border: none;
}
@media(max-width:700px){
  .sub-header h1{
    font-size:25px;
  text-align: center;
  }
}

/* ------contact us page---------------------------------- */
.location{
  width: 80%;
  margin: auto;
  padding: 25px 0;
}
iframe{
  width: 100%;
}
.contact-col{
  flex-basis: 48%;
 margin-bottom: 30px;
  margin-left: 10%;
}
.contact-col div{
  display: flex;
align-items: center;
margin-bottom: 40px;
}
.contact-col div .fas{
  font-size: 28px;
  color: red;
font-size: 20px;
margin-right: 30px;
margin: 10px;
}
.contact-col div  p{
  padding: 0;
  color: grey;
}
.contact-col div h5{
font-size: 18px;
margin-bottom: 5px;
color: grey;
font-weight: 600;
}
.contact-col input, .contact-col textarea{
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid grey;
  box-sizing: border-box;
  outline: none;
}